
body{
	width: 100%;
	text-align: center;
}
header{
	background:#6ca6c8;
	width: 100%;
	display: grid;
  	grid-template-columns: 60% 40% ; 
  	padding: 5% 0;
}
header div{
	width: 100%;
}
header img{
	width: 80%;
}
header h2{
	color:#3736b5;
	font-size: 32px;
	font-family: 'Merriweather', serif;
	width: 100%;
	text-align: left;
	padding: 10px 0;
}
.redesSocias{
	background: #fad3ab;
	width: 100%;
	padding: 2% 0 2% 0;
	position: relative;
}
.redesSocias .img{
	position: absolute;
	right: 2%;
	bottom: 2%;
}
section h2{
	color:#cc2422;
	font-size: 36px;
	font-family: 'Merriweather', serif;
	width: 100%;
}
.sobre{
	background: #fff;
	display: grid;
  	grid-template-columns: 45% 45% ; 
  	padding: 10% 0 10% 5%;
  	
}
.sobre div{
	color:#b2afaf;
	font-size: 24px;
	text-align: left;
}
.sobre img{
	width: 100%;
}

.habilidades{
	width: 98%;
	background: #e6e6fa;	
	display: grid;
	grid-template-areas: 'myArea myArea myArea';
	grid-gap: 50px;
	padding: 10px 10px 20px 10px;

}
.item1 {
  grid-area: myArea;
}
.habilidades div:first-child{
	border:none;
	min-height: 100px;
}
.habilidades div{
	width: 90%;
	display: flex;
	align-items: center;
	min-height: 150px;
	border:1px solid #ff0000;
	border-radius: 0 15px;
}

.habilidades h3{
	color: #22ccb8;
	font-size: 30px;
	text-align: left;
	width: 60%;
}
footer{
	background:#4b4d4f;
	width: 100%;
	color: #fff;
	height: 50px;
	display: grid;
	grid-template-areas: 'myArea .';
	padding: 2% 0 ;
}
footer a{
	color:#fff;
	text-decoration: none;
}
footer p{
	width: 100%;
}

@media screen and (max-width: 800px) and (min-width: 400px){
	header{
		background:#6ca6c8;
		width: 100%;
		display: grid;
	  	grid-template-columns: 60% 40% ; 
	  	padding: 5% 0;
	}
	header h2{		
		font-size: 28px;		
		text-align: center;
		padding: 10px 0;
	}
	.redesSocias .img{
		width: 20%;
	}
	.sobre{
		display: grid;
	  	grid-template-columns: 95% ; 
	  	padding: 10% 0 10% 5%;	  	
	}
	.habilidades{			
		display: grid;
		grid-template-areas: 'myArea myArea';
		grid-gap: 50px;
		padding: 10px 10px 20px 10px;
	}
}
@media screen and (max-width: 399px) {
	header{
		background:#6ca6c8;
		width: 100%;
		display: grid;
	  	grid-template-columns: 100% ; 
	  	padding: 5% 0;
	}
	header img{
		width: 80%;
	}
	header h2{		
		font-size: 24px;
		text-align: center;
	}
	.redesSocias{
		text-align: left;
	}
	.redesSocias .img{
		width: 20%;
	}
	.sobre{
		display: grid;
	  	grid-template-columns: 100% ; 
	  	padding: 10% 0 10% 5%;
	  	
	}
	.habilidades{			
		display: grid;
		grid-template-areas: 'myArea';
		padding: 10px 10px 20px 10px;

	}
}