*{
	margin: 0 auto;
	padding: 0;
}
html{
	background:#E6E6FA;
	font-size:20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* global*/
.center{
	min-width: 100px;
	text-align:center;
}
main{ 
	width:80%;  
	}
/* floats */
.fl{float:left;}
.fr{float:right;}

/* clear */
.cl{clear:both;}

/* Grids */
.grid-1{width:100%;}
.grid-2{width:40%;}
.grid-3{width:30%;}
.grid-4{width:23%;}
.grid-1, .grid-2,
.grid-3, .grid-4{ display:block; margin:0 10px 0 5px;}


h1{	 
	padding: 30px 0;
}

h1  a{	
	font-size: 56px;
	color:#fff;
	text-shadow: #000 2px 3px 2px;
	text-decoration:none;
	transition:1s ease;
}
h1 a:hover{
	color:#22ccb8;
	text-shadow: #fff 2px 3px 2px;
	text-decoration:none;
	transition:1s ease;
}

h2{
	color:#22ccb8;
	font-size: 28px;
	text-shadow: #000 1px 2px 2px; 
}

h3{
	font-size:28px;
	color:#b882c0;
	text-align:center;
	margin: 80px 0 10px 0;
}
p{
	text-align:center;
	padding:10px 0 30px 0;
	line-height:25px;
}


header{
	background:#b882c0;
	min-height: 200px;
	box-shadow:#737373 0px 2px 10px;
}

footer{
	background:#14b19f;
	color:#fff;
	text-align:center;
	min-height: 80px;
	padding: 30px 0 0 0;
}
section{
	margin:30px 0 0 0;
	color:#0a6056;
}
section a{
	color:#0a6056;
	text-decoration:none;
	
}
section a:hover{
	color:#b882c0;
}
.verde a{
	color:#0a6056;
	text-decoration:none;
	
}
.verde a:hover{
	color:#22ccb8;
}

ul{
	list-style:none;
	margin-bottom:50px;
}
ul li{
 margin:0 0 30px 0;
}
ul > li >span{
	font-weight:bold;
	color:#22ccb8;
}

ul > li >ul{
	padding:10px 0 0 20px;
	list-style:disc;
	line-height:20px;
}

ul>li>ul>li{
	margin:10px 0 10px 0;	
}
ul > li > ul > li > ul{
	list-style:circle;
}




@media screen and (max-width: 768px){
	.grid-4{
		width: 45%;
	}
}


@media screen and (max-width:480px){
	.grid-4, .grid-3, .grid-2 {
		width: 100%;
	}
	p{
		text-align:left;
	}
	
}














